.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'Lato', sans-serif;
}

.quiz {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media #{$tablet} {
        height: 80%;
        width: 80%;
        background: $quizbackground;
        border-radius: 0.5em;
    }

    .quiz__header {
        padding: 1em;
        font-size: 1.8em;
        text-align: center;

        @media #{$tablet} {
            font-size: 2.5em;
            padding: 0.5em;
        }
        

        @media #{$desktop} {
            font-size: 3.2em;
        }
    }

    .quiz__buttons {
        padding: 0.2em;

        button {
            margin: 0.5em;
            font-size: 1em;
            padding: 0.5em;
            background: none;
            border: 2px solid #94DBE0;
            color: $fontColor;
            border-radius: 0.5em;

            @media #{$tablet} {
                font-size: 1.7em;
                margin: 0.3em;
            }

        }

        button:disabled,
        button[disabled] {
            border: 2px solid #999999;
            background-color: #cccccc;
            color: #666666;
        }
    }

    .quiz__compass {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 1em;
        font-size: 1.5em;

        label {
            text-align: center;
            padding: 1em;
            font-size: 1em;

            @media #{$tablet} {
                font-size: 1.3em;
            }
        }
    }

    .quiz__nextquestion {
        padding: 1em;

        button {
            font-size: 1em;
            padding: 0.5em;
            background: none;
            border: 2px solid #94DBE0;
            color: $fontColor;
            border-radius: 0.5em;

            @media #{$tablet} {
                font-size: 1.7em;
            }
        }
    }

    input {
        font-size: 20px;
        font-weight: 700;
        font-family: 'Donegal One', sans-serif;
        background: none;
      }
      
      
      input[type=range]{
        -webkit-appearance: none;
      }
      
      input[type=range]::-webkit-slider-runnable-track {
        width: 300px;
        height: 5px;
        background: #94DBCC;
        border: none;
        border-radius: 3px;
      }
      
      input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: none;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background: #185E7F;
        margin-top: -4px;
      }
      
      input[type=range]:focus {
        outline: none;
      }
      
      input[type=range]:focus::-webkit-slider-runnable-track {
        background: #94ffff;
      }

      .quiz__nextbutton {
        background: none;
        border: 2px solid #94DBE0;
        padding: 15px;
        margin: 15px;
        color: #fff;
        border-radius: 5px;
        width: 150px;
        transition-duration: 0.3s;
        text-decoration: none;
        overflow: hidden;
        cursor: pointer;
        position: relative;
        color: $fontColor;
        transition: all 0.3s;

        &:hover span {
            padding-right: 25px;

            &:after {
                opacity: 1;
                right: 0;
            }
        }

        span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;

            &:after {
                content: "\00bb";
                position: absolute;
                opacity: 0;
                top: 0;
                right: -20px;
                transition: 0.5s;
            }
        }
      }

}