.result {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    button {
        margin: 0.5em;
        font-size: 1.5em;
        padding: 0.5em;
        background: none;
        border: 2px solid #94DBE0;
        color: $fontColor;
        border-radius: 0.5em;
    }

    .result__button {
        display: flex;
        justify-content: center;
    }
}