@import url('https://fonts.googleapis.com/css?family=Donegal+One|Pontano+Sans');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url(./bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  color: #fff;
}

.compass {
  display: flex;
  justify-content: center;
  padding: 50px;
}


h3 {
    font-family: 'Donegal One', sans-serif;
    text-align: center;
    padding: 50px;
    font-size: 25px;
  }

button {
  background: none;
  border: 2px solid #94DBE0;
  padding: 15px;
  margin-left: 15px;
  margin-right: 15px;
  color: #fff;
  font-weight: 900;
  border-radius: 5px;
  width: 150px;
  transition-duration: 0.8s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  font-family: 'Donegal One', sans-serif;
  font-size: 14px;
}

button:hover {
  background: rgba(255, 255, 255, 0.1)
}

.buttonNext:focus{
  background:#94DBE0;
}

button:disabled,
button[disabled]{
  border: 2px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.answerBtn:after {
  content: "";
  background: #94DBE0;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.9s
}

.answerBtn:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.buttonNext {
  background: none;
  border: 2px solid #94DBE0;
  padding: 15px;
  margin: 15px;
  color: #fff;
  font-weight: 700;
  border-radius: 5px;
  width: 150px;
  transition-duration: 0.3s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  color: #FFFFFF;
  transition: all 0.3s;
  cursor: pointer;
}

.buttonNext span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttonNext span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttonNext:hover span {
  padding-right: 25px;
}

.buttonNext:hover span:after {
  opacity: 1;
  right: 0;
}


input {
  background: none;
  padding-left: 50px;
}

.input-range {
  font-size: 20px;
  font-weight: 700;
  font-family: 'Donegal One', sans-serif;
}


input[type=range]{
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 300px;
  height: 5px;
  background: #94DBCC;
  border: none;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #185E7F;
  margin-top: -4px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #94ffff;
}

.nextContainer {
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
}

a {
  text-decoration: none;
}


.link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.link h1 {
  font-family: 'Pontano Sans', sans-serif;
  text-align: center;
  transition-duration: 2s;
  transition: all 2s;
  font-size: 50px;
  color: #fff;
}

.link button {
  margin-top: 50px;
}

.startAgain {
  display: flex;
  justify-content: center;
  height: 100%;
}

.Logo {
  position: relative;
  text-transform: uppercase
}

.Logo:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #fff; 
  animation: animation 3s 1;
  
}
@keyframes animation {
  0% {
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }
  100% {
    visibility: visible;
    -webkit-transform: scaleX(1);
    -webkit-transition: all 0.5s cubic-bezier(1, 0.25, 0, 0.75) 0s;
  transition: all 0.5s cubic-bezier(1, 0.25, 0, 0.75) 0s;
    transform: scaleX(1);
  }
}


